<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-add-swift-support" version="2.0.2">

  <name>AddSwiftSupport</name>
  <license>Apache 2.0</license>
  <description>Cordova plugin to add swift support</description>
  <keywords>cordova,phonegap,swift,plugin</keywords>
  <repo>https://github.com/akofman/cordova-plugin-add-swift-support.git</repo>
  <hook type="before_plugin_install" src="src/dependencyInstaller.js"/>
  <platform name="ios">
    <hook src="src/add-swift-support.js" type="after_prepare" />
    <hook src="src/add-swift-support.js" type="after_platform_add" />
    <hook src="src/add-swift-support.js" type="after_plugin_add" />
  </platform>
  <platform name="osx">
    <hook src="src/add-swift-support.js" type="after_prepare" />
    <hook src="src/add-swift-support.js" type="after_platform_add" />
    <hook src="src/add-swift-support.js" type="after_plugin_add" />
  </platform>
</plugin>
